/*******************************/
/********* General CSS *********/
/*******************************/
body {
    color: blue;
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1,
h2, 
h3, 
h4,
h5, 
h6 {
    font-family: 'EB Garamond', serif;
    font-weight: 200;
    font-style: italic;
    color: #121518;
}

a {
    color: #454545;
    transition: .3s;
}

a:hover,
a:active,
a:focus {
    color: #aa9166;
    outline: none;
    text-decoration: none;
}

.btn:focus {
    box-shadow: none;
}

.back-to-top {
    position: fixed;
    display: none;
    background: #aa9166;
    color: #121518;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 9;
}

.back-to-top:hover {
    color: #aa9166;
    background: #121518;
}

.back-to-top i {
    padding-top: 10px;
}


/**********************************/
/********** Top Bar CSS ***********/
/**********************************/
.top-bar {
    position: relative;
    height: 95px;
    width: 100%;
    background: #000000;
}

.top-bar label{
    width: 100%;
    color: white;
    font-size: 28px;
    line-height: 110px;
    padding:0 60px;
    font-weight: bold;
}

.top-bar .social {
    display: flex;
    height: 90px;
    font-size: 0;
    justify-content: flex-end;
}

.top-bar .social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 100%;
    font-size: 22px;
    color: #ffffff;
    border-right: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .social a:first-child {
    border-left: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .social a:hover {
    color: #aa9166;
    background: #ffffff;
}

@media (min-width: 992px) {
    .top-bar {
        padding: 0 60px;
    }
}

@media (max-width: 991.98px) {
    .top-bar .logo {
        text-align: center;
    }
    
    .top-bar .social {
        display: none;
    }
}


/*******************************/
/******** Carousel CSS *********/
/*******************************/
.carousel {
    position: relative;
    width: 100%;
    height: calc(100vh - 170px);
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.carousel .carousel-inner,
.carousel .carousel-item {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}

.carousel .carousel-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 1;
}

.carousel .carousel-caption {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 170px);
}

.carousel .carousel-caption h1 {
    color: black;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 20px;
}

.carousel .carousel-caption p {
    color: white;
    font-size: 25px;
    margin-bottom: 25px;
}

.carousel .carousel-caption .btn {
    padding: 15px 35px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    background: black;
    border: 2px solid white;
    border-radius: 5px;
    transition: .3s;
}

.carousel .carousel-caption .btn:hover {
    color: #121518;
    background: #aa9166;
}

@media (max-width: 767.98px) {
    .carousel .carousel-caption h1 {
        font-size: 80px;
        font-weight: 700;
    }
    
    .carousel .carousel-caption p {
        font-size: 30px;
    }
    
    .carousel .carousel-caption .btn {
        padding: 12px 30px;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0;
    }
}

@media (max-width: 575.98px) {
    .carousel .carousel-caption h1 {
        font-size: 30px;
        font-weight: 500;
    }
    
    .carousel .carousel-caption p {
        font-size: 16px;
    }
    
    .carousel .carousel-caption .btn {
        padding: 10px 25px;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0;
    }
}

.carousel .animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}


/*******************************/
/******* Page Header CSS *******/
/*******************************/
.page-header {
    position: relative;
    margin-bottom: 45px;
    padding: 90px 0;
    text-align: center;
    background: #aa9166;
}

.page-header h2 {
    position: relative;
    color: blue;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.page-header h2::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    left: calc(50% - 50px);
    bottom: 0;
    background: blue;
}

.page-header a {
    position: relative;
    padding: 0 12px;
    font-size: 22px;
    color: #121518;
}

.page-header a:hover {
    color: #ffffff;
}

.page-header a::after {
    position: absolute;
    content: "/";
    width: 8px;
    height: 8px;
    top: -2px;
    right: -7px;
    text-align: center;
    color: #121518;
}

.page-header a:last-child::after {
    display: none;
}

@media (max-width: 767.98px) {
    .page-header h2 {
        font-size: 35px;
    }
    
    .page-header a {
        font-size: 18px;
    }
}


/*******************************/
/******* Section Header ********/
/*******************************/
.section-header {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 45px;
}

.section-header h2 {
    margin: 0;
    color: blue;
    position: relative;
    font-size: 50px;
    font-weight: 700;
    white-space: nowrap;
    z-index: 1;
}

.section-header h2::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 7px;
    left: 0;
    top: 21px;
    background: transparent;
    border-top: 1px;
    border-bottom: 1px;
    z-index: -1;
}

.section-header h2::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 7px;
    left: 0;
    bottom: 20px;
    background: transparent;
    border-top: 1px;
    border-bottom: 1px;
    z-index: -1;
}

@media (max-width: 767.98px) {
    .section-header h2 {
        font-size: 30px;
    }
}


/*******************************/
/********* Service CSS *********/
/*******************************/
.service {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.service .service-item {
    position: relative;
    width: 100%;
    text-align: center;
    background: blue;
    margin-bottom: 30px;
    border-radius: 30px;
}

.service .service-icon {
    height: 200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: lavender;
    border-radius: 30px;
}

.service .service-icon i {
    width: 100px;
    height: 100px;
    padding: 20px 0;
    text-align: center;
    font-size: 60px;
    color: gray;
    transition: .5s;
}

.service .service-item:hover .service-icon i {
    margin-top: -15px;
}

.service .service-item h3 {
    margin: 0;
    padding: 25px 15px 15px 15px;
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.service .service-item p {
    margin: 0;
    color: white;
    padding: 0 25px 25px 25px;
    font-size: 18px;
}

.service .service-item a.btn {
    position: relative;
    margin-bottom: 30px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    background: green;
    transition: .3s;
}

.service .service-item:hover a.btn {
    color: #121518;
    background: #aa9166;
}


/*******************************/
/******* Testimonial CSS *******/
/*******************************/
.testimonial {
    position: relative;
    padding: 45px 0;
}

.testimonial .testimonials-carousel {
    position: relative;
    width: calc(100% + 30px);
    left: -15px;
    right: -15px;
}

.testimonial .testimonial-item {
    position: relative;
    margin: 0 15px;
    padding: 30px;
    background: #121518;
    overflow: hidden;
}

.testimonial .testimonial-item i {
    position: absolute;
    top: 0;
    right: 0;
    color: #333333;
    font-size: 60px;
    transform: rotate(45deg);
    z-index: 1;
}

.testimonial .testimonial-item .col-12 {
    margin-top: 20px;
}

.testimonial .testimonial-item img {
    width: 100%;
}

.testimonial .testimonial-item h2 {
    color: white;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
}

.testimonial .testimonial-item p {
    color: #999999;
    font-size: 16px;
    margin: 0;
}

.testimonial .owl-nav,
.testimonial .owl-dots {
    margin-top: 15px;
    text-align: center;
}

.testimonial .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #aa9166;
}

.testimonial .owl-dot.active {
    background: #121518;
}

/*******************************/
/*********** Blog CSS **********/
/*******************************/
.blog {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.blog .blog-carousel {
    position: relative;
    width: calc(100% + 30px);
    left: -15px;
    right: -15px;
}

.blog .blog-item {
    position: relative;
    margin: 0 15px;
    background: #ffffff;
    overflow: hidden;
}

.blog .blog-page .blog-item {
    margin: 0 0 30px 0;
}

.blog .blog-item img {
    width: 100%;
    margin-bottom: 25px;
}

.blog .blog-item h3 {
    font-size: 25px;
    font-weight: 600;
}

.blog .blog-item .meta {
    padding: 0 0 15px 0;
}

.blog .blog-item .meta * {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #999999;
}

.blog .blog-item .meta i {
    margin: 0 2px 0 10px;
}

.blog .blog-item .meta i:first-child {
    margin-left: 0;
}

.blog .blog-item p {
    font-size: 16px;
}

.blog .blog-item a.btn {
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #aa9166;
    transition: .3s;
}

.blog .blog-item a.btn i {
    margin-left: 10px;
}

.blog .blog-item a.btn:hover {
    color: #121518;
}

.blog .owl-nav,
.blog .owl-dots {
    margin-top: 15px;
    text-align: center;
}

.blog .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #aa9166;
}

.blog .owl-dot.active {
    background: #121518;
}

.blog .pagination .page-link {
    color: #121518;
    border-radius: 0;
    border-color: #aa9166;
}

.blog .pagination .page-link:hover,
.blog .pagination .page-item.active .page-link {
    color: #121518;
    background: #aa9166;
}

.blog .pagination .disabled .page-link {
    color: #999999;
}



/*******************************/
/******** Member CSS ******/
/*******************************/

.contact {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.contact .contact-info {
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    padding: 30px;
    background: #121518;
}

.contact .contact-item {
    position: relative;
    margin-bottom: 30px;
    padding: 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    border: 2px solid #aa9166;
}

.contact .contact-item i {
    display: inline-block;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #aa9166;
    border: 2px solid #aa9166;
}

.contact .contact-text {
    position: relative;
    width: auto;
    padding-left: 15px;
}

.contact .contact-text h2 {
    color: #aa9166;
    font-size: 25px;
    font-weight: 600;
}

.contact .contact-text p {
    margin: 0;
    color: #999999;
    font-size: 16px;
}

.contact .contact-item:last-child {
    margin-bottom: 0;
}

.contact .contact-form {
    position: relative;
    margin-bottom: 30px;
}

.contact .contact-form input {
    height: 60px;
    border-radius: 0;
    border-width: 2px;
    border-color: #121518;
}

.contact .contact-form textarea {
    height: 190px;
    border-radius: 0;
    border-width: 2px;
    border-color: #121518;
}

.contact .contact-form .btn {
    padding: 16px 35px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #aa9166;
    background: #121518;
    border: 2px solid #aa9166;
    border-radius: 0;
    transition: .3s;
}

.contact .contact-form .btn:hover {
    color: #121518;
    background: #aa9166;
}


button{
    color: whitesmoke;
    background-color: blue;
    border-radius:20px;
    padding:5px 75px;
    font-size: 30px;
    margin: 0 400px;
    margin-top: 75px;
}

@media (max-width: 767.98px) {
    

    button{
        font-size: 20px;
        margin:100px;
    }
}

@media (max-width: 575.98px) {
}


/*******************************/
/********* Contact CSS *********/
/*******************************/
.contact {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.contact .contact-info {
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    padding: 30px;
    background: #121518;
}

.contact .contact-item {
    position: relative;
    margin-bottom: 30px;
    padding: 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    border: 2px solid #aa9166;
}

.contact .contact-item i {
    display: inline-block;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #aa9166;
    border: 2px solid #aa9166;
}

.contact .contact-text {
    position: relative;
    width: auto;
    padding-left: 15px;
}

.contact .contact-text h2 {
    color: #aa9166;
    font-size: 25px;
    font-weight: 600;
}

.contact .contact-text p {
    margin: 0;
    color: #999999;
    font-size: 16px;
}

.contact .contact-item:last-child {
    margin-bottom: 0;
}

.contact .contact-form {
    position: relative;
    margin-bottom: 30px;
}

.contact .contact-form input {
    height: 60px;
    border-radius: 0;
    border-width: 2px;
    border-color: #121518;
}

.contact .contact-form textarea {
    height: 190px;
    border-radius: 0;
    border-width: 2px;
    border-color: #121518;
}

.contact .contact-form .btn {
    padding: 16px 35px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #aa9166;
    background: #121518;
    border: 2px solid #aa9166;
    border-radius: 0;
    transition: .3s;
}

.contact .contact-form .btn:hover {
    color: #121518;
    background: #aa9166;
}


/*******************************/
/********* Footer CSS **********/
/*******************************/
.footer {
    position: relative;
    margin-top: 45px;
    padding-top: 180px;
    background: #121518;
    color: #ffffff;
}

.footer .footer-about,
.footer .footer-link,
.footer .footer-contact {
    position: relative;
    margin-bottom: 45px;
    color: #999999;
}

.footer .footer-about h2,
.footer .footer-link h2,
.footer .footer-contact h2{
    position: relative;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 600;
    color: white;
}

.footer .footer-link a {
    display: block;
    margin-bottom: 10px;
    color: #999999;
    transition: .3s;
}

.footer .footer-link a::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .footer-link a:hover {
    color: #aa9166;
    letter-spacing: 1px;
}

.footer .footer-contact p i {
    width: 25px;
}

.footer .footer-social {
    position: relative;
    margin-top: 20px;
}

.footer .footer-social a {
    display: inline-block;
}

.footer .footer-social a i {
    margin-right: 15px;
    font-size: 18px;
    color: white;
}

.footer .footer-social a:last-child i {
    margin: 0;
}

.footer .footer-social a:hover i {
    color: #999999;
}

.footer .footer-menu .f-menu {
    position: relative;
    padding: 15px 0;
    background: #000000;
    font-size: 0;
    text-align: center;
}

.footer .footer-menu .f-menu a {
    color: #999999;
    font-size: 16px;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .3);
}

.footer .footer-menu .f-menu a:hover {
    color: #aa9166;
}

.footer .footer-menu .f-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}


.footer .copyright {
    padding: 30px 15px;
}

.footer .copyright p {
    margin: 0;
    color: #999999;
}

.footer .copyright .col-md-6:last-child p {
    text-align: right;
}

.footer .copyright p a {
    color: #aa9166;
    font-weight: 500;
    letter-spacing: 1px;
}

.footer .copyright p a:hover {
    color: #ffffff;
}

@media (max-width: 792.22px) {
    .footer .copyright p,
    .footer .copyright .col-md-6:last-child p {
        margin: 0px;
        text-align: center;
    }
}
